@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

body {
    margin: 0;
}